extends layout

block content
  .container
    .row(style="margin-top: 10%")
      .col-md-8.align-self-center
        .card
          article.card-body.mx-auto(style='max-width: 400px;')
            h4.card-title.mb-4.mt-1.text-center MyFacebook
            p MyFacebook is a final project developed for the course unit Web Applications Developing.
            p Inspired on a popular social network
            p Developed by: António Castanheira (PG38408) and Henrique Ribeiro (PG38415)

      .col-md-4
        .card.bg-light
          for msg in message
            .alert.alert-danger.text-center=msg
          article.card-body.mx-auto(style='max-width: 400px;')
            a.float-right.btn.btn-outline-primary(href='/signin') Sign up
            h4.card-title.mb-4.mt-1 Sign in
            p
              a.btn.btn-block.btn-google(href='/google')
                i.fab.fa-google
                |    Login via Google
              a.btn.btn-block.btn-facebook(href='/facebook')
                i.fab.fa-facebook-f
                |    Login via facebook
            hr
            form(action="/login" method="POST")
              .form-group
                input.form-control(name='username', placeholder='Username', type='text')
              .form-group
                input.form-control(name="password", placeholder='******', type='password')
              .form-group
                button.btn.btn-primary.btn-block(type='submit')  Login  