extends layout

block navbar
  +nav_list()
    +nav_item("/signin") SignIn
    +nav_item("/login", "active") LogIn
  +nav_search()

block content
  
  h2 myFacebook
  form.w3-container(action="/login" method="POST")
        input.w3-input(name="username" type="text" placeholder="Username")
        input.w3-input(name="password" type="password" placeholder="Password")
        input.w3-btn(type="submit" value="login")
  h1 Welcome to Facebook
  h3 Create Account
  form.w3-container(action="/signin" method="POST")
        input.w3-input(name="name" type="text" placeholder="First and Last Name")
        input.w3-input(name="username" type="text" placeholder="Username")
        input.w3-input(name="password" type="password" placeholder="Password")
        input.w3-btn(type="submit" value="Create")