include ./mixins.pug

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css', type='text/css')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.0/css/all.css", integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ", crossorigin="anonymous")
    link(rel='stylesheet', href="/css/bootstrap-social.css", type="text/css")

  body
    
    +nav("MyFacebook")
      +nav_list()
        if (username)
          +nav_item("/logout") Logout
      +nav_search()
    block content

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
    script(src="/js/bootstrap.min.js")
    block scripts
