extends layout

block content
    if message
        p=message
    else 
        .container
            .row
                .col-md-2
                .col-md-8
                    for pub in pubs
                        if pub.tipo=="post"
                            +display_post(pub)
                        else if pub.tipo=="evento"
                            +display_evento(pub)
                        else if pub.tipo=="registo"
                            +display_registo(pub)
                        else
                            +display_foto(pub)
                .col-md-2

block scripts
    script(src="/js/script.js")